<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }
</style>

<div class="row " style="padding-top: 10%; padding-bottom:13%;
background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:auto;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body shadow-lg grad">
        <form>
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Add
            Parking' | translate}}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold">{{'Update Parking' | translate}}</h2>
          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>
          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>


          <div style="padding-top:3%">
            <span class="pt-2"><b>{{' location' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-file grey-text"></i> </div>
                </div>
                <input type="text" name="location" [(ngModel)]="form.data.location" class="form-control"
                  placeholder="{{'Enter  location' | translate}}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.location}} </span>
          </div>





           <div style="padding-top:3%">
            <span class="pt-2"><b>{{' capacity' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-file grey-text"></i> </div>
                </div>
                <input type="text" name="capacity" [(ngModel)]="form.data.capacity" class="form-control"
                  placeholder="{{'Enter  capacity' | translate}}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.capacity}} </span>
          </div>




           <div style="padding-top:3%">
            <span class="pt-2"><b>{{' fee' | translate}}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-file grey-text"></i> </div>
                </div>
                <input type="text" name="fee" [(ngModel)]="form.data.fee" class="form-control"
                  placeholder="{{'Enter  fee' | translate}}">
              </div>
            </div>
            <span class="alertRedColor"> {{form.inputerror.fee}} </span>
          </div>








         
















          
         


          <div class="row pt-3 pl-3 pb-3">
            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Save' | translate}}</button>
            </div>
            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="submit()" class="btn btn-success mr-2">
                {{'Update' | translate}}</button>
            </div>
            <div class="pt-2">
              <button (click)="forward('/alertlist')" type="button" class="btn btn-warning mr-1">{{'List' |
                translate}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>